<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mejores juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div #t class="ion-padding-top ion-text-center">
  <h2>Video juegos PS5 y PS4</h2>
  <p>Los mejores del mercado de Play Station</p>

</div>


<ion-list>

<div class="ion-padding-top ion-text-center">
<ion-label>Final fantasy 7 remake</ion-label>


<ion-card>El mejor remake de la epoca de PS4</ion-card>

<ion-label class="ion-padding-top ion-text-center">
    <img src='/assets/IMG/cloud.jpg' style='width: 50% ; border: 2px solid black'>
</ion-label>
</div>



<div class="ion-padding-top ion-text-center">
<ion-label>Resident evil 3 remake</ion-label>


<ion-card>Uno de los juegos de horror mas epicos de todos los tiempos</ion-card>

<ion-label>
    <img src='assets/IMG/resident.jpeg' style='width: 50% ; border: 4px solid black'>
</ion-label>
</div>

<div class="ion-padding-top ion-text-center">
<ion-label>Hoizont</ion-label>


<ion-card>Un juego en un mundo abiero lleno de pociblidades y cosas por descubrir</ion-card>


<ion-label class="ion-padding-top ion-text-center">
    <img src='assets/IMG/hori.jpeg' style='width: 50% ; border: 2px solid black'>
</ion-label>
</div>


<div class="ion-padding-top ion-text-center">
<ion-label>The last of us</ion-label>

  <ion-card>Un juego de horror y suspenso con una jugabilidad epica</ion-card>




<ion-label>
    <img src='assets/IMG/us.jpeg' style='width: 50% ; border: 2px solid black'>
</ion-label>
</div>




<div class="ion-padding-top ion-text-center">
<ion-label class="ion-padding-top ion-text-center">God of war</ion-label>


<ion-card >Un juego de accion nunca nates superado exclusivo del PS4, la ultima version hasta ahora</ion-card>


<ion-label >
    <img src='assets/IMG/god.jpg' style='width: 50% ; border: 2px solid black'>
</ion-label>
</div>

</ion-list>

<div class="ion-padding-top ion-text-center">
  <ion-button [routerLink]="['/home']" id="volver">Volver</ion-button>
</div>


</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Lista de juegos
    </ion-title>

  </ion-toolbar>
</ion-footer>
