<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Eleccion de juego
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">


  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">Elije el juego que mas te guste</h1>
      <!-- {{interpolacion}}
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->

    </ion-label>
    <div #img class="ion-padding-top ion-text-center">
      <img src='assets/IMG/jugando.jpg' style='width: 50% ; border: 2px solid rgb(0, 0, 0)'>
      </div>
  </ion-title>
  <b class="ion-text-center">
    <h4>Escoje estilo y juego que mas te guste</h4>
  </b>



  <ion-item>
    <ion-label>Video Juego</ion-label>
    <ion-select placeholder="Seleccione un juego"
        [(ngModel)]="datosjuegos.listajuegos.id">
      <ion-select-option *ngFor="let listajuegos of listajuegos"
        [value]="listajuegos.id">
          {{listajuegos.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Estilo de juego</ion-label>
    <ion-select placeholder="Seleccione estilo de juego"
        [(ngModel)]="datosjuegos.estilo.id">
      <ion-select-option *ngFor="let estilo of estilo"
        [value]="estilo.id">
          {{estilo.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>




        <div class="ion-padding-top ion-text-center">
          <ion-button   (click)="mostrar()">
            Mostrar
          </ion-button>
        </div>
        <div class="ion-padding-top ion-text-center">
          <ion-button [routerLink]="['/home']">Volver</ion-button>
        </div>


</ion-content>
<!-- Termina el Content -->

<!-- Comienza el Footer -->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      Juego favorito
    </ion-title>
  </ion-toolbar>
</ion-footer>
<!-- Termina el Header -->
